<div class="col-left">
    <div class="menu">
        <ul>
            <a href="/home/index">
                <li><i style="font-size: 20px;" class="layui-icon">&#xe68e;</i><span style="margin-left: 30px;">首页</span></li>
            </a>
            <a href="/home/upload">
                <li><i style="font-size: 20px;" class="layui-icon">&#xe62f;</i><span style="margin-left: 30px;">图片上传</span></li>
            </a>
            <a href="/home/picture">
                <li><i style="font-size: 20px;" class="layui-icon">&#xe60d;</i><span style="margin-left: 30px;">查看图片</span></li>
            </a>
            <a href="/user/admin">
                <li><i style="font-size: 20px;" class="layui-icon">&#xe620;</i><span style="margin-left: 30px;">系统设置</span></li>
            </a>
        </ul>
    </div>
</div>